:root {
    --h1-font-size: 7em;
    --h2-font-size: 3.5em;
    --input-font-size: 2em;
    --input-height: 1em;
    --pink: 234, 44, 106;
}

@media screen and (max-width: 600px) {
    :root {
        --h1-font-size: 6em;
        --h2-font-size: 3em;
        --input-font-size: 1.5em;
        --input-height: 1em;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --h1-font-size: 5em;
        --h2-font-size: 2em;
        --input-font-size: 1.5em;
        --input-height: 1em;
    }
}

@font-face {
    font-family: 'Bright';
    src: url('fonts/Bright.woff2') format('woff2'),
        url('fonts/Bright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  font-family: "Bright", serif;
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
}

*:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

body {
    margin: 0;
}

th {
    text-align: left;
}

button {
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

a {
    font-size: 2em;
    text-decoration: none;
    color: unset;
    padding: 0px 8px;
    border-radius: 8px;
}

p, label, input, button, th, tr {
    font-size: 2em;
}

#entry {
    background-image: url("/miata_horizontal.webp");
    height: 100vh;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    color: #10191a;
}

#home {
    background-color: #e0e479;
    height: 100vh;
    color: rgb(var(--pink));

    a:hover {
        background-color: rgba(var(--pink), 0.2);
    }
}

#accommodations {
    background-color: #fdf4e4;
    height: 100vh;
}

.page {
    padding: 2em;
}

.entry-title {
    text-align: center;
}

.entry-input-container-outer {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry-form {
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.entry-input {
    background: transparent;
    border: 2px solid;
    border-radius: var(--input-height);
    font-size: var(--input-font-size);
    padding-left: .5em;
    height: var(--input-height);
}

.entry-input::placeholder {
    color: #103455;
}

.submit-button {
    display: inline-flex;
    margin-left: 0.5em;
    border: none;
    background-color: transparent;
    border-radius: 1.5em;
    width: calc(var(--input-font-size) + var(--input-height));
    height: calc(var(--input-font-size) + var(--input-height));
}

.entry-label {
   display: flex;
   font-size: 22px;
   flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.rsvp-table {
    margin-top: 3em;
    width: 100%;
}

.fade-out {
    opacity: 0;
}

.checkbox-container {
    display: flex;
}

.success-message {
    margin-left: 4px;
    color: green;
}

.landing-image {
    width: 100%;
}

.blue {
    color: #103455;   
    fill: #103455;
    border-color: #103455;
}

.pink {
    color: var(--pink);
}
