img {
    width: 50vw;
}

th {
    text-align: left;
}

button {
    cursor: pointer;
}

.rsvp-table {
    margin-top: 3em;
    width: 100%;
}

.fade-out {
    opacity: 0;
}

.checkbox-container {
    display: flex;
}

.success-message {
    margin-left: 4px;
    color: green;
}
